@model Tasklist.Web.Models.ProjectModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Project</h2>
<div class="well bs-component">
    @using (Html.BeginForm("Edit", "Mvc", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(m => m.Id)
        <fieldset>
            <div class="form-group">
                <label for="Name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "txtName", placeholder = "Name" })
                </div>
            </div>

            <div class="form-group">
                <label for="Description" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3" })
                    <span class="help-block">Optional</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" id="btnDelete" class="btn btn-danger" style="margin-left: 30px;">Delete</button>
                </div>
            </div>
        </fieldset>
    }
    
</div>

@section Scripts {
    <script>
        (function() {
            $('#btnDelete').on('click', function(e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("Delete")',
                    method: "POST",
                    data: { id: @Model.Id }
                }).done(function (data) {
                    window.location.href = '@Url.Action("Index")';
                });;
            });
        })();
    </script>
}

